[Service]
name           = "shell"
binary         = "/system/bin/bzsh"
after          = ["bzdisplayd"]
restart        = "always"
max_retries    = "0"
display_output = "true"
