[Service]
name           = "permissiond"
binary         = "/system/bin/permissiond"
after          = []
restart        = "always"
max_retries    = "3"
capabilities   = ["setcap"]
display_output = "true"
