[Service]
name           = "shell"
binary         = "/system/bin/sh"
after          = ["bzdisplayd"]
restart        = "always"
max_retries    = "0"
display_output = "true"
user           = "user"
